<div class="row">
    <h4 class="d-flex align-items-center">
        <i class="bi bi-plus"></i>&ensp;Atvidade dos funcionários
    </h4>
</div>
<div class="row">
    <div class="card">
        <div class="filtro row d-flex justify-content-between">
            <div class="col-4 d-flex align-bottom ps-2">
                <div class="col-6 d-flex align-items-center">
                    <label class="text-nowrap me-2 d-flex align-pontos-center">Por página</label>
                    <input type="number" class="form-control ms-2" [(ngModel)]="totalPorPagina" (change)="paginarItens()" />
                </div>
            </div>
            <div class="col-8 d-flex align-bottom">
                <div class="col-4 d-flex align-bottom me-2">
                    <select class="form-control" (change)="filtraStatus(filtro)" [(ngModel)]="filtro">
                        <option hidden value="99">Status</option>
                        <option value="0">Todos</option>
                        <option [value]="status.id" *ngFor="let status of listaStatus">{{status.nome}}</option>
                    </select>
                </div>
                <div class="col-8 d-flex align-bottom ms-2 pe-3">
                    <div class="input-icons">
                        <i class="bi bi-search icon"></i>
                        <input type="text" class="form-control" placeholder="Procurar" id="busca" [(ngModel)]="busca" (keyup)="buscaAtiva()" />
                    </div>
                </div>
            </div>
        </div>
        <div class="lista_atividades row d-flex mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th [title]="showTitle ? 'Funcionário' : ''">Funcionário</th>
                        <th [title]="showTitle ? 'Entrada' : ''">Entrada</th>
                        <th [title]="showTitle ? 'Pausa' : ''">Pausa</th>
                        <th [title]="showTitle ? 'Retorno' : ''">Retorno</th>
                        <th [title]="showTitle ? 'Saída' : ''">Saída</th>
                        <th [title]="showTitle ? 'Status' : ''">Status</th>
                        <th [title]="showTitle ? 'Ações' : ''">Ações</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr *ngFor="let ponto of listaPontos">
                        <td>
                            <a (click)="editarFuncionario(ponto)" [title]="showTitle ? ponto.funcionario : ''">
                                <i class="bi bi-box-arrow-up-right"></i>
                                <span>&ensp;{{ponto.funcionario}}</span>
                            </a>
                        </td>
                        <td>{{ponto?.entrada ? ponto.entrada : '-'}}</td>
                        <td>{{ponto?.pausa ? ponto.pausa : '-'}}</td>
                        <td>{{ponto?.retorno ? ponto.retorno : '-'}}</td>
                        <td>{{ponto?.saida ? ponto.saida : '-'}}</td>
                        <td>
                            <span class="badge rounded-pill text-white trabalhando" *ngIf="ponto?.entrada && !ponto?.pausa  && !ponto?.saida || ponto?.pausa && ponto?.retorno && !ponto?.saida">Trabalhando</span>
                            <span class="badge rounded-pill text-white pausa" *ngIf="ponto?.entrada && ponto?.pausa && !ponto?.retorno && !ponto?.saida">Em pausa</span>
                            <span class="badge rounded-pill text-white ausente" *ngIf="!ponto?.entrada && !ponto?.pausa && !ponto?.retorno && !ponto?.saida">Não iniciado</span>
                            <span class="badge rounded-pill text-white finalizado" *ngIf="ponto?.saida">Finalizado</span>
                        </td>
                        <td>
                            <div class="btn-group dropstart">
                                <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="p-2 dropdown-item" [ngClass]="ponto.pausa ? 'disabled' : '' " (click)="novaAtividade(ponto.id, 3)">
                                        <i class="bi bi-pause-fill"></i>&ensp;Pausa
                                    </li>
                                    <li class="p-2 dropdown-item" [ngClass]="ponto.retorno ? 'disabled' : '' " (click)="novaAtividade(ponto.id, 2)">
                                        <i class="bi bi-play-fill"></i>&ensp;Retomar
                                    </li>
                                    <li class="p-2 dropdown-item" [ngClass]="ponto.saida ? 'disabled' : '' " (click)="novaAtividade(ponto.id, 4)">
                                        <i class="bi bi-check2-circle"></i>&ensp;Finalizar
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="listaPontos.length == 0">
                        <td colspan="7" class="text-center">Não há dados para exibir</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class="d-flex align-items-center justify-content-between">
            <label class="justify-content-start">
                Mostrando {{itensPagina}} de {{totalItens}} resultados
            </label>
            <ul class="pagination justify-content-end">
                <li class="page-item" [ngClass]="paginaAtual == 1 ? 'disabled' : ''">
                    <a class="page-link" (click)="paginaAnterior()">Anterior</a>
                </li>
                <li class="page-item"><a class="page-link">Página {{paginaAtual}} de {{totalPaginas}}</a></li>
                <li class="page-item" [ngClass]="paginaAtual == totalPaginas ? 'disabled' : ''">
                    <a class="page-link" href="#" (click)="proximaPagina()">Próxima</a>
                </li>
            </ul>
        </nav>
    </div>
</div>