<div class="row">
    <h4 class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16"><path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
          </svg>&ensp;Adicionar ponto
    </h4>
</div>
<div class="row">
    <div class="card">
        <div class="row">
            <div class="col-4 align-bottom">
                <label>Funcionário</label>
                <select class="form-control" [(ngModel)]="registro.funcionario_id">
                    <option value="0">Selecione..</option>
                    <option [value]="funcionario.id" *ngFor="let funcionario of listaFuncionarios">{{funcionario.nome}}</option>
                </select>
            </div>
            <div class="col-4 align-bottom">
                <label>Hora entrada</label>
                <input type="text" class="form-control" [(ngModel)]="registro.hora" (keyup)="validaHora($event)" maxlength="5" />
            </div>
            <div class="col-4 d-flex align-items-end">
                <button class="btn btn-warning d-flex align-items-center text-nowrap" (click)="registraPonto()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                  &ensp;Adicionar entrada</button>
            </div>
        </div>
    </div>
</div>