<div class="row">
    <h4 class="d-flex align-items-center">
        <i class="bi bi-clock"></i>&ensp;Adicionar ponto
    </h4>
</div>
<div class="row">
    <div class="card">
        <div class="row">
            <div class="col-4 align-bottom">
                <label>Funcionário</label>
                <select class="form-control" [(ngModel)]="registro.funcionario_id">
                    <option value="0">Selecione..</option>
                    <option [value]="funcionario.id" *ngFor="let funcionario of listaFuncionarios">{{funcionario.nome}}</option>
                </select>
            </div>
            <div class="col-4 align-bottom">
                <label>Hora entrada</label>
                <input type="text" class="form-control" [(ngModel)]="registro.hora" (keyup)="validaHora($event)" maxlength="5" />
            </div>
            <div class="col-4 d-flex align-items-end">
                <button class="btn btn-warning d-flex align-items-center text-nowrap" (click)="registraPonto()">
                        <i class="bi bi-plus"></i>
                  &ensp;Adicionar entrada</button>
            </div>
        </div>
    </div>
</div>