<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        <h4 class="d-flex align-items-center">
            <i class="bi bi-person-plus"></i><span *ngIf="!usuario.id">&ensp;Cadastrar funcionário</span><span *ngIf="usuario.id">&ensp;Atualizar funcionário</span>
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="fecharCanvas()"></button>
    </div>
    <div class="offcanvas-body">
        <form class="was-validated need-validation" role="search">
            <div class="col-12 mb-3">
                <label class="text-nowrap me-2 d-flex align-items-center">Nome do funcionário</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.nome" [ngModelOptions]="{standalone: true}" required/>
            </div>
            <div class="col-12 mb-3">
                <label class="text-nowrap me-2 d-flex align-items-center">Cargo</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.cargo" [ngModelOptions]="{standalone: true}" required/>
            </div>
            <div class="col-12 mb-3">
                <label class="text-nowrap me-2 d-flex align-items-center">E-mail</label>
                <input type="email" class="form-control" [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}" required/>
                <div class="invalid-feedback">Por favor, digite um e-mail válido</div>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-warning d-flex align-items-center text-nowrap" *ngIf="!usuario.id" (click)="addFuncionario()">
                  <i class="bi bi-plus"></i>&ensp;Cadastrar</button>
                <button class="btn btn-secondary d-flex align-items-center text-nowrap me-2" *ngIf="usuario.id" (click)="fecharCanvas()">Voltar</button>
                <button class="btn btn-warning d-flex align-items-center text-nowrap ms-2" *ngIf="usuario.id" (click)="updateFuncionario()">
                  <i class="bi bi-plus"></i>&ensp;Atualizar</button>
            </div>
        </form>
    </div>
</div>