<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        <h4 class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg><span *ngIf="!usuario.id">&ensp;Cadastrar funcionário</span><span *ngIf="usuario.id">&ensp;Atualizar funcionário</span>
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="fecharCanvas()"></button>
    </div>
    <div class="offcanvas-body">
        <form class="" role="search">
            <div class="col-12 mb-3">
                <label class="text-nowrap me-2 d-flex align-items-center">Nome do funcionário</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.nome" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="col-12 mb-3">
                <label class="text-nowrap me-2 d-flex align-items-center">Cargo</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.cargo" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="col-12 mb-3">
                <label class="text-nowrap me-2 d-flex align-items-center">E-mail</label>
                <input type="email" class="form-control" [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-warning d-flex align-items-center text-nowrap" *ngIf="!usuario.id" (click)="addFuncionario()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>&ensp;Cadastrar</button>
                <button class="btn btn-secondary d-flex align-items-center text-nowrap me-2" *ngIf="usuario.id" (click)="fecharCanvas()">Voltar</button>
                <button class="btn btn-warning d-flex align-items-center text-nowrap ms-2" *ngIf="usuario.id" (click)="updateFuncionario()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>&ensp;Atualizar</button>
            </div>
        </form>
    </div>
</div>