<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-top">
            <a class="navbar-brand logo" href="#">P.</a>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <i class="bi bi-clock" title="Registros de ponto"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <i class="bi bi-three-dots" title="..."></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="criarNovoFuncionario()">
                        <i class="bi bi-person-plus" title="Cadastro de funcionário"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="logout()">
                        <i class="bi bi-box-arrow-right" title="Logout"></i>
                    </a>
                </li>
            </ul>
            <!-- </div> -->
        </div>
        <div class="user-capitals">
            {{capitals}}
        </div>
    </div>
</nav>