@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
* {
    font-family: 'Montserrat';
    font-weight: 400;
}

body {
    background-color: #F5F5F5;
}

.card {
    padding: 15px;
}

.btn.btn-warning {
    color: white;
}

h4 i {
    color: #FFB800;
}


/* table */

th {
    font-weight: 600;
}

thead {
    background: #F3F2F7;
}


/* navbar */

.logo {
    font-family: 'Langar';
    color: #FFB800;
    font-size: 48px;
    line-height: 67px;
    text-shadow: -1px 0px 0px #BC8802;
    margin: 0;
}

.navbar {
    width: 80px;
    height: 100vh;
    background-color: #283046;
    flex-wrap: wrap;
    margin-left: -12px;
}

.navbar .container-fluid {
    justify-content: center;
    height: 100%;
    align-content: space-between;
}

.user-capitals {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #FF9F43;
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16.5px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


/* botões */

button.btn {
    font-weight: 700;
}

button.btn.btn-warning {
    background: #FFB800;
    border-radius: 5px;
}